apiVersion: apps/v1
kind: Deployment
metadata:
  name: logstash
  namespace: k3s-elk-stack
spec:
  replicas: 1
  selector:
    matchLabels:
      app: logstash
  template:
    metadata:
      labels:
        app: logstash
    spec:
      containers:
      - name: logstash
        image: docker.elastic.co/logstash/logstash:8.10.2
        env:
        - name: LS_JAVA_OPTS
          value: "-Xms512m -Xmx512m"
        ports:
        - containerPort: 5044
          name: beats
        volumeMounts:
        - name: pipeline
          mountPath: /usr/share/logstash/pipeline
        resources:
          requests:
            memory: "512Mi"
            cpu: "200m"
          limits:
            memory: "1Gi"
            cpu: "500m"
      volumes:
      - name: pipeline
        configMap:
          name: logstash-pipeline
---
apiVersion: v1
kind: Service
metadata:
  name: logstash
  namespace: k3s-elk-stack
spec:
  type: ClusterIP
  selector:
    app: logstash
  ports:
  - port: 5044
    targetPort: 5044
    name: beats
