apiVersion: v1
kind: ConfigMap
metadata:
  name: logstash-pipeline
  namespace: k3s-elk-stack
data:
  logstash.conf: |
    input {
      tcp {
        port => 5044
        codec => json_lines
      }
    }
    filter {
      if [message] {
        json {
          source => "message"
        }
      }
    }
    output {
      elasticsearch {
        hosts => ["http://k3s-elasticsearch-0.k3s-elasticsearch-headless.k3s-elasticsearch.svc.cluster.local:9200"]
        index => "logs-%{+YYYY.MM.dd}"
      }
      stdout {
        codec => rubydebug
      }
    }
